.foot_item {
    color: #d2eaf4;
    padding-top: 40px;
    margin-bottom: 20px;
}
  
footer {
    width: 100%;
    background-color: #456268;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}
footer p {
    font-size: 13px;
    color: #d2eaf4;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.footer_ul {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul li {
    padding: 0px 0px 5px 0px;
}

.footer_ul li a {
    color: #d2eaf4;
}

.footer_ul li a:hover {
    color: #000;
    text-decoration: none;
}

.foot_borde {
border-bottom: 3px solid #d2eaf4;
padding-bottom: 20px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}
.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}
.social_footer_ul li a {
    color: #d2eaf4;
    border: 1px solid #d2eaf4;
    padding: 8px;
    border-radius: 50%;
}
.social_footer_ul li a:hover {
    color: #456268;
    background-color: #d2eaf4;
}
.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}